
<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-header [translucent]="true">
    <ion-toolbar class="header-ccaf">
      <ion-title>
        CCAF
      </ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-button (click)="authenticateWithBiometrics()" expand="full">
      Iniciar Autenticação Biométrica
    </ion-button>

  
  <div id="image-logo" style="display: flex; flex-direction: column;">
    <ion-img class="logo-amazonas" src="assets/images/amazon.png"/>
    <ion-text class="title">
    <h1 style="color: black; font-size: 18px;">POLÍCIA MILITAR DO AMAZONAS</h1>
    <h3 style="color: black; font-size: 14px;">CERTIFICADO DE CARGA DE ARMA DE FOGO</h3>
    </ion-text>
  </div>
  
  <div class="dados-militar">

    <ion-item>
      <ion-input
        id="ccaf"
        label="CCAF Nº: "
        style="flex-direction: column;"
        [clearOnEdit]="true">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="NOME"
        labelPlacement="stacked"
        [clearOnEdit]="true">
      </ion-input>
    </ion-item>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input
            label="POSTO / GRAD"
            labelPlacement="stacked"
            [clearOnEdit]="true">
          </ion-input>
        </ion-item>
      </ion-col>
        <ion-col>
        <ion-item>
          <ion-input
            label="MATRÍCULA"
            labelPlacement="stacked"
            [clearOnEdit]="true">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input
            label="CI"
            labelPlacement="stacked"
            [clearOnEdit]="true">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input
            label="AUT / BIR"
            labelPlacement="stacked"
            [clearOnEdit]="true">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input
            label="EXPEDIDO EM"
            labelPlacement="stacked"
            [clearOnEdit]="true">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input
            label="VALIDADE"
            labelPlacement="stacked"
            [clearOnEdit]="true">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
  </div>

</ion-content>
