
.logo-amazonas {
  width: 100px;
  height: 100px;
  margin-top: 30px;
}

.dados-militar {
  margin-top: 30px;
}

#image-logo {
  display: flex; /* Define o elemento pai como um flex container */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

// .title-policia {
//   color: black; 
//   font-size: 18px;
// }

// .title-certificado {
//   color: black; 
//   font-size: 14px;
// }

#ccaf {
  display: flex; /* Define o elemento pai como um flex container */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.header-ccaf {
  background-color: darkcyan;
}